
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-rz5 {
  background-color: #ffffff;
  width: 100%;
  height: 451.8rem;
  overflow: hidden;
  position: relative;

  .frame-4-6Nd {
    width: 192.3rem;
    height: 100%;

    .frame-2-Ca5 {
      height: 101.1rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      width: 192rem;

      .designer-developer-entrepreneur-etc-Ydw {
        height: 102.2rem;
        position: relative;
        overflow: hidden;
        background-color: #d7d7d7;
        width: 100%;

        .hi-i-am-4sB {
          width: 14.1rem;
          height: 4.7rem;
          position: absolute;
          top: 36.2rem;
          font-family: Raleway, 'Source Sans Pro';
          left: 26.8rem;
          text-align: center;
          display: flex;
          justify-content: center;
          white-space: nowrap;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.175;
          color: #000000;
        }
        .nigel-gilchrist-74m {
          line-height: 1.175;
          font-family: Raleway, 'Source Sans Pro';
          height: 9.4rem;
          position: absolute;
          left: 25.15rem;
          top: 46.3rem;
          text-align: center;
          font-size: 8rem;
          width: 54.4rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
        }
        .visual-communication-design-student-from-batam-indonesia-PHB {
          line-height: 1.175;
          color: #909090;
          width: 37.5rem;
          left: 25.9rem;
          font-size: 2.5rem;
          font-weight: 700;
          height: 5.9rem;
          position: absolute;
          top: 56.1rem;
          font-family: Raleway, 'Source Sans Pro';
        }
        .cib-mail-ru-Eob {
          overflow: hidden;
          width: 3.7rem;
          height: 3.7rem;
          position: absolute;
          left: 31.9rem;
          top: 73.72rem;
        }
        .rectangle-67-ueq {
          height: 165.7129rem;
          position: absolute;
          left: 74.9773rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 200.743rem;
        }
        .nigel-p17 {
          height: 5.1rem;
          position: absolute;
          top: 6.7rem;
          line-height: 1.26;
          font-family: Racing Sans One, 'Source Sans Pro';
          width: 9.5rem;
          font-size: 4rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          left: 25.2rem;
        }
        .n-1-KTf {
          vertical-align: top;
          width: 80.9rem;
          height: 80.9rem;
          position: absolute;
          left: 101.1rem;
          top: 21.3rem;
          object-fit: cover;
        }
      }
    }
    .frame-3-pQR {
      width: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-wjuq-xmX {
        width: 100%;
        height: 318.1rem;
        position: relative;
        flex-shrink: 0;

        .about-hUD {
          height: 318.1rem;
          position: absolute;
          left: 0;
          top: 0;
          flex-direction: column;
          background-color: #ffffff;
          background: radial-gradient(50% 50% at 50% 50%, rgba(25, 21, 21, 0) 0%, rgba(1, 1, 1, 0.1599999964) 100%);
          box-sizing: border-box;
          padding: 21.9rem 37.525rem 232.621rem 38.579rem;
          width: 192rem;
          overflow: hidden;
          align-items: center;
          display: flex;

          .section-header-2-CQy {
            margin: 0rem 31.502rem 13.689rem 30.275rem;
            width: calc(100% - 61.7767rem);
            height: 14.3336rem;
            position: relative;
            flex-shrink: 0;

            .skills-UG1 {
              font-family: Montserrat, 'Source Sans Pro';
              width: 17.1rem;
              height: 3.9rem;
              display: flex;
              font-weight: 700;
              letter-spacing: 1.0661rem;
              color: #000000;
              justify-content: center;
              font-size: 3rem;
              line-height: 1.2774261503;
              white-space: nowrap;
              align-items: center;
              position: absolute;
              left: 18.5097rem;
              top: 5.1498rem;
            }
            .rectangle-49-kDX {
              width: 54.1193rem;
              height: 14.3336rem;
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.8rem #000000;
              box-sizing: border-box;
              background-color: rgba(255, 255, 255, 0);
            }
          }
          .skills-fLV {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .using-now--2B3 {
              letter-spacing: 0.5561rem;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 8.7772rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.2175;
              flex-shrink: 0;
            }
            .auto-group-klad-8Uy {
              margin: 0rem 1.275rem 5.159rem 1.572rem;
              width: calc(100% - 2.8467rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .figma-SEm {
                margin-right: 39.6403rem;
                width: 9.309rem;
                height: 14.124rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .illustrator-NPK {
                height: 13.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 36.7rem;
                width: 13.7rem;
              }
              .photoshop-7Lu {
                vertical-align: top;
                flex-shrink: 0;
                width: 13.7rem;
                height: 13.4rem;
                object-fit: contain;
              }
            }
            .auto-group-utff-TQm {
              margin-left: 2.0961rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .figma-ozR {
                display: flex;
                align-items: center;
                font-size: 2.4rem;
                color: #000000;
                flex-shrink: 0;
                margin: 0rem 38.25rem 0.796rem 0rem;
                justify-content: center;
                font-weight: 400;
                line-height: 1.2175;
                letter-spacing: 0.3249rem;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .illustrator-Wtq {
                margin-right: 34.85rem;
                display: flex;
                line-height: 1.2175;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                font-size: 2.4rem;
                font-weight: 400;
                letter-spacing: 0.3249rem;
                color: #000000;
              }
              .photoshop-pPj {
                font-weight: 400;
                align-items: center;
                justify-content: center;
                font-size: 2.4rem;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                line-height: 1.2175;
                letter-spacing: 0.3249rem;
              }
            }
          }
        }
        .portfolio-Sg1 {
          padding-bottom: 9.05rem;
          width: 192rem;
          height: 223.6rem;
          overflow: hidden;
          align-items: center;
          flex-direction: column;
          background-color: #1a1a1a;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          top: 94.5rem;
          display: flex;

          .auto-group-8nwj-vLH {
            margin-bottom: 4.25rem;
            width: 192.3rem;
            height: 207.8rem;
            position: relative;
            flex-shrink: 0;

            .screenshot-571-1-zqw {
              object-fit: cover;
              vertical-align: top;
              width: 65.6rem;
              height: 92.3rem;
              position: absolute;
              left: 0;
              top: 115.5rem;
            }
            .section-header-79s {
              background-image: url('REPLACE_IMAGE:d84bf352f4b23ad3e25bd5a228fd18db8b10a43e');
              width: 192rem;
              height: 32.1rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(0, 0, 0, 0.5);
              background-size: 100% 376.506%;

              .portfolio-EkH {
                left: 80.85rem;
                height: 3.9rem;
                display: flex;
                justify-content: center;
                font-size: 3rem;
                font-weight: 700;
                letter-spacing: 1.3061rem;
                font-family: Montserrat, 'Source Sans Pro';
                top: 14.05rem;
                white-space: nowrap;
                width: 30.3rem;
                position: absolute;
                align-items: center;
                line-height: 1.2774261503;
                color: #ffffff;
              }
              .rectangle-48-rFs {
                width: 48.2rem;
                height: 10.7rem;
                position: absolute;
                left: 71.9rem;
                top: 10.7rem;
                border: solid 0.8rem #ffffff;
                box-sizing: border-box;
              }
              .section-header-79s-bg {
                width: 192rem;
                height: 32.1rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:d84bf352f4b23ad3e25bd5a228fd18db8b10a43e');
              }
            }
            .whatsapp-image-2023-11-21-at-1837-1-Sjs {
              vertical-align: top;
              width: 68.7rem;
              height: 91.8rem;
              position: absolute;
              left: 62.8rem;
              top: 116rem;
              object-fit: cover;
            }
            .image-24-8sb {
              top: 115.5rem;
              background-size: 108.278% 108.168%;
              background-position: -0.0058rem 0rem;
              background-image: url('REPLACE_IMAGE:66275244154a635eccd194b98bc14ac276823a98');
              width: 59.9rem;
              height: 92.3rem;
              position: relative;
              left: 131.4rem;
            }
            .image-22-nSM {
              height: 83.9rem;
              position: absolute;
              left: 62.9rem;
              top: 32.1rem;
              object-fit: cover;
              vertical-align: top;
              width: 68.5rem;
            }
            .image-21-7Ud {
              position: absolute;
              left: 0;
              top: 31.4rem;
              object-fit: cover;
              vertical-align: top;
              width: 63.2rem;
              height: 83.8rem;
            }
          }
          .section-footer-rBK {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2175;
            display: flex;
            color: #fffafa;
            flex-shrink: 0;
          }
        }
        .image-23-ZrR {
          object-fit: cover;
          vertical-align: top;
          width: 59.6rem;
          height: 82.4rem;
          position: absolute;
          left: 131.5rem;
          top: 127.3rem;
        }
      }
      .footer-JZ7 {
        flex-shrink: 0;
        box-sizing: border-box;
        width: 192rem;
        position: relative;
        font-size: 1.8rem;
        display: flex;
        align-items: baseline;
        background-color: #1a1a1a;
        line-height: 1.3625;
        padding: 23.5rem 77.5rem 6.6rem 78.4rem;
        overflow: hidden;
        color: #ffffff;
        font-family: Nunito, 'Source Sans Pro';
        font-weight: 700;
        white-space: nowrap;

        .footer-JZ7-sub-0 {
        }
        .footer-JZ7-sub-1 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito, 'Source Sans Pro';
        }
      }
    }
  }
}
